<div class="container d-flex m-0 p-0">
  <div class="sidebar">
    <%= render partial: 'shared/sidebar'%>
  </div>
  <div class="container d-flex flex-wrap justify-content-start mt-5 ms-5">
    <% @like_works.each do |like_work| %>
      <%= render partial: 'shared/show_index', locals: { work: like_work } %>
    <% end %>
  </div>

</div>