<header class="d-flex flex-wrap justify-content-center py-3">
  <%= render partial: 'shared/header' %>
</header>

<div class="container d-flex justify-content-start mt-5">
  <% @works.each do |work| %>
    <%= render partial: 'shared/main_view', locals: { work: work } %>
  <% end %>
</div>
