<div class="header">
  <%= render partial: 'shared/header' %>
</div>
<div class="index_body">
  <div class="sidebar">
    <%= render partial: 'shared/sidebar'%>
  </div>
  <div class="main_view">
    <%= render partial: 'shared/main_view' %>
  </div>

</div>