html,
body {
  height: 100%;
  box-sizing: border-box;
}

header{
  background-color: white;
}

.header{
  height: 70px;
}

.index_body{
  display: flex;
}

.sidebar{
  padding-left: 40px;
  width: 250px;
  height: calc(100vh - 120px);
}

.main_view{
  width: calc(100vw - 250px);
  height: calc(100vh - 120px);
  overflow: scroll;
  padding: 20px 10px;
}
